body {
    background-color: rgb(195, 211, 226);
    padding:2px 10%;
}
#mainHeader{
    height: 50;
}
#app{
    background-color: white;
    padding: 5px;
    border-radius:5px;
}
#appTable {
    min-width: 200px;
    padding: 8px;
    border: 1px solid green;
    border-radius: 5px;
}
Table, th, td{
    border-collapse: collapse;
    border: 1px solid black;
    text-align: left;
    padding:8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
.hidden{
    display:none;
}
fieldset{
    border-radius: 5px;
    padding:5px;
    margin-bottom: 10px;
}