body {
    background-color: rgb(195, 211, 226);
    padding:2px 10%;
}
#mainHeader{
    height: 50;
}
#app{
    background-color: white;
    padding: 5px;
    border-radius:5px;
}
#appTable {
    width:100%;
    min-width: 200px;
    border: 1px solid green;
    border-radius: 5px;
}
th{
    width:auto;
}
.hidden{
    display:none;
}
fieldset{
    border-radius: 5px;
    padding:5px;
    margin-bottom: 10px;
}